section {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1111;
    margin-top: 10px;
    margin-bottom: 60px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

form .form-btn {
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background: #5465FF;
    color: #fff;
    font-weight: 700;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}

form .form-btn:hover {
    background-color: transparent;
    border: 2px #5465FF solid;
    color: #5465FF;
}

section .form-container {
    padding: 10px;
    min-width: 40%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00031A;
    width: 85%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.message-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.message-input textarea {
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background-color: #F2F2F2;
    width: 100%;
    padding: 7px;
}

.form-inputs input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background-color: #F2F2F2;
}

.flex-div {
    display: flex;
    width: 100%;
    gap: 10px;
}

.flex-div .form-inputs {
    width: 100%;
}

label {
    color: #333333;
}

@media(max-width: 380px) {
    .flex-div {
        flex-direction: column;
    }

    .message-input textarea {
        width: 100%;
    }
}
