.top-container {
    background: #5465FF;
    width: 100%;
}

.waves {
    width: 100%;
    margin-top: -210px;
    z-index: -1;
}

.waves img {
    width: 100%;
    z-index: -1;
}

.waves .useHero{
    display: none;
}

@media (max-width: 930px) {
    .waves {
        margin-top: -50px;
    }
}

@media(max-width: 650px) {
    .waves {
        margin-top: -400px;
    }

    .waves .useHero {
        display: block;
        z-index: -1;
        width: 100%;
        border: none;
    }

    .hero-bg {
        display: none;
    }
}